.container{
    display: flex;
    justify-content: center;
    width:18%;
    margin: 0 auto;
    padding:5%;
    padding-bottom:3%;
    gap:35%;
}

.container_img{
    width:80px;
  height:130px;
  object-fit: cover;

}

.container_paragraph{
 
    padding-bottom:5%;

}

