@media screen and (min-width: 1400px) {
  .cards {
    grid-template-columns: repeat(2, calc(70% / 2));
    grid-template-rows: 26rem;
  }

  .card {
    height: 25rem;
  }

  .card h2 {
    font-size: 2.7rem;
  }
  .agendar a {
    font-size: 1.4rem !important;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  .agendar a:hover {
    background-color: #6b6150 !important;
    padding: 10px 8% !important;
    color: white !important;
    border-radius: 10px;

    transition: all 1s ease;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1488px) {
  .agendar a {
    font-size: 1.3rem !important;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  .agendar a:hover {
    background-color: #6b6150 !important;
    padding: 10px 8% !important;
    color: white !important;
    border-radius: 10px;

    transition: all 1s ease;
  }
  .cards {
    grid-template-columns: repeat(2, calc(90% / 2));
    grid-template-rows: 27rem;
  }

  header p a {
    font-weight: 300;
    text-decoration: none;
    color: black;
    font-size: 19px !important
    ;
  }

  .card {
    height: 26rem;
  }

  .card h2 {
    font-size: 2.7rem;
  }

  .sobre img {
    width: 250px;
  }

  .texto p {
    margin-right: 15%;
    font-size: 1.9rem;
  }

  .galeria-parent img {
    width: 30vw;
    height: 25rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  
  .article{
    margin-bottom: 4%;
  }

  .articleText{
    z-index:100;
    width:40rem !important; 
    height:70rem;
    background-color: aliceblue;
    color:#434343;
    position:fixed;
    bottom:0% !important;
    top:33%;
  padding:2rem;
  font-size: 1.4rem;
    right:0%;
    left:50% !important;
    filter:saturate(100%) !important;
    transform: translate(-50%, -25%);
  }
  

  .imgArticle{
    margin-top: 5%;
    width: 38rem;
    height:23rem !important;
    object-fit: cover;
    filter: saturate(60%);
  }
  
  
  .articleText p{
    width:38rem !important;
  }
  

  
  .contato h3,
  .opiniao h3,
  .text h3,
  .inspiracoesSub,
  .galeria-parent h3 {
    font-size: var(--main-font-size-h3);
    color: #777;
    font-weight: 100;
    font-size: min(6vw, 23px);
  }

  .contato h2,
  .opiniao h2,
  .text h2,
  .inspiracoesTitle,
  .galeria-parent h2 {
    margin-top: 10% !important;
    font-weight: 400;
    font-size: var(--main-font-size-h2);
    font-size: min(9vw, 36px);
  }

  .navbar::before {
    background-color: white;
    content: "Menu";
    font-size: 1.7rem !important;
    font-family: var(--main-font);
    font-weight: 400;

    display: flex;
    align-items: center;
    position: absolute;
    top: 5px !important;
    right: 55%;
    text-transform: uppercase;
  }
  header {
    height: 0vh !important;
    background-color: white;
    width: 100% !important;
    z-index: 100;
    margin-left: 0%;
  }

  .menu-mobile {
    display: block;
    z-index: 1000 !important;
    padding: 9px !important;
    display: flex;
    flex-direction: row;
    height: 70px !important;
    top: 0;
    background-color: #333;
  }

  .perfil-mobile img {
    margin-top: 4%;
    height: 6rem !important;
  }
  .perfil-mobile h3 {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    margin-top: 15%;
    font-size: 15px;
  }

  main {
    width: 100% !important;
    left: 0;
    padding-top: 5%;
    top: 5% !important;
    margin-left: 0;
  }
  .elementosHeader {
    position: fixed;

    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
  }

  .perfil-desktop {
    display: none;
    width: 100%;
  }
  .perfil {
    display: none;
    width: 100%;
  }

  .perfil-mobile img {
    width: 34%;
    height: 6vh;
    object-fit: cover;
  }

  .elementosHeader {
    display: none;
  }
  main {
    width: 100% !important;
    left: 0;
    top: 10%;
    margin-left: 0;
  }

  .navbar::before {
    background-color: white;
    content: "Menu";
    font-size: max(14px, 3vmin);
    font-family: var(--main-font);
    font-weight: 400;
    margin-top: 5px;
    text-transform: uppercase;
  }

  main h1 {
    margin-top: 4% !important;
    font-size: 4.7rem;
    font-weight: 300 !important;
    margin-left: 5%;
    color: #fff;
    font-family: var(--main-font);
  }

  main p {
    font-family: var(--main-font);
    font-weight: 300;
  }

  .cards {
    grid-template-columns: repeat(2, min(45%, 350px));
    grid-template-rows: 26rem;
  }

  .card {
    height: 25rem;
  }

  .card h2 {
    font-size: 2.4rem;
  }
  .linkCard {
    text-decoration: none !important;
  }

  .sobre img {
    display: none;
  }

  .texto p {
    margin-right: 15%;
    font-size: 1.9rem;
  }

  .contato2 {
    display: flex;
    flex-direction: row;
    margin-left: 11% !important;
  }

  .c1 {
    width: 60vw !important;
  }

  .c2 img {
    width: 50%;
    margin-left: 10%;
    height: 20vh;
    object-fit: cover;
  }

  .consultorioTexto {
    padding: 1% 2%;
    width: 110%;
    padding-bottom: 4% !important;
  }
  .consultorio {
    padding: 5% 2%;
    width: 110% !important;
  }
  .consultorio h6 {
    font-size: min(3.5vw, 18px);
  }
  .consultorio h2 {
    font-size: max(3.5vw, 21px);
  }
  .c1 p,
  .mapa {
    padding-top: 1%;
    font-size: min(1.5rem, 18px);
    padding-right: 15%;
    font-family: "Roboto", sans-serif;
  }
  .c2 button {
    width: 50%;
    margin-left: 10%;
  }

  .grid-opiniao {
    margin-left: 11% !important;
    position: relative;
  }

  .bg-dark {
    padding: 2% 10%;
    border-radius: 20px;
    margin-right: 120px !important;
    font-size: 1.7rem !important;
    width: 300px !important;
  }

  .opiniao1,
  .opiniao2,
  .opiniao3 {
    padding-top: 3%;
    text-align: center;
  }

  .patientReview {
    display: none;
    width: 0;
    height: 0;
  }

  .reviewBtn {
    display: none !important;
  }

  .pacienteP {
    font-size: 1.5rem;
  }

  .galeria-parent img {
    width: min(40vw, 380px);
    height: 25rem;
  }

  .images {
    text-align: center !important;
    display: block;
    margin-left: 0 !important;
  }
  .galeria-parent h2 {
    font-weight: 100;
    font-size: var(--main-font-size-h2);
    margin-left: 5%;
  }
  .insp1 {
    margin-left: -10%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  .insp2 {
    position: relative;
    z-index: 100;
    opacity: 1;
    margin-bottom: 10%;
  }
  .textInsp1 h2 {
    font-size: max(4vw, 22px);
  }

  .textInsp1 p {
    font-size: max(2vw, 18px);
    line-height: 1.5;
    margin-top: 4%;
  }
  .curve {
    display: block;
    position: absolute;
    top: -3%;
    right: 0;
    left: 0;
    bottom: -5%;
    opacity: 0.2;
    z-index: 1;
    height: minmax(380px, 100%, 35vh);
    width: 100%;
    background-color: var(--main-color);
  }

  .insp1 img {
    width: 75%;
    margin-bottom: 5%;
    height: 280px;
    object-fit: cover;
    text-align: center;
    margin-left: 15%;
  }
  .imgInsp2,
  .imgInsp3 {
    display: none;
  }
  .textInsp1 {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 70vw;
  }

  .insp2 {
    padding-left: 8%;
  }
  .footer {
    margin-top: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.3rem;
    text-align: center;
    background-color: #6b6150 !important;
  }

  iframe {
    width: 300px;
    margin-left: -7%;
    height: 200px;
  }

  .ctc5 {
    margin-left: 4% !important;
  }

  .contactBtn{
    display: block !important;
  }

  .contatoCard{
    margin-left: -16%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .article{
    margin-bottom: 4%;
  }
  .articleText p{
    width:44rem !important;
  }
  
  .articleText{
    z-index:100;
    width:50rem !important; 
    height:60rem;
    background-color: aliceblue;
    color:#434343;
    position:fixed;
    bottom:30% !important;
    top:38%;
  padding:2rem;
  font-size: 1.4rem;
    right:0%;
    left:50% !important;
    filter:saturate(100%) !important;
    transform: translate(-50%, -25%);
  }
  

  .imgArticle{
    margin-top: 5%;
    width: 48rem;
    height:23rem !important;
    object-fit: cover;
    filter: saturate(60%);
    border-radius: 2%;
  }
  
 
 
 
  .navbar::before {
    background-color: white;
    content: "Menu";
    font-size: 1.7rem !important;
    font-family: var(--main-font);
    font-weight: 400;

    display: flex;
    align-items: center;
    position: absolute;
    top: 12px !important;
    right: 55%;
    text-transform: uppercase;
  }
  header {
    height: 0vh !important;
    background-color: white;
    width: 100% !important;
    z-index: 100;
    margin-left: 0%;
  }

  .menu-mobile {
    display: block;
    z-index: 100;
    padding: 10px !important;
    height: 80px !important;
    display: flex;
    flex-direction: row;

    top: 0;
    background-color: #333;
  }

  .perfil-mobile img {
    margin-top: 4%;
    height: 7rem !important;
    width: 7rem !important;
  }
  .perfil-mobile h3 {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    margin-top: 20% !important;
    font-size: 15px;
  }

  main {
    width: 100% !important;
    left: 0;
    padding-top: 1%;
    top: 5% !important;
    margin-left: 0;
  }
  .elementosHeader {
    position: fixed;

    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
  }

  .perfil-desktop {
    display: none;
    width: 100%;
  }

  .perfil {
    display: none;
    width: 100%;
  }

  .elementosHeader {
    display: none;
  }
  main {
    width: 100% !important;
    left: 0;
    top: 10%;
    margin-left: 0;
  }

  .navbar::before {
    background-color: white;
    content: "Menu";
    font-size: max(14px, 3vmin);
    font-family: var(--main-font);
    font-weight: 400;
    margin-top: 5px;
    text-transform: uppercase;
  }

  main h1 {
    margin-top: 7%;
    font-size: 4.7rem;
    font-weight: 300 !important;
    margin-left: 5%;
    color: #fff;
    font-family: var(--main-font);
  }

  main p {
    font-family: var(--main-font);
    font-weight: 300;
  }

  .cards {
    grid-template-columns: repeat(2, min(45%, 350px));
    grid-template-rows: 26rem;
  }

  .card {
    height: 25rem;
  }

  .card h2 {
    font-size: 2.4rem;
  }
  .linkCard {
    text-decoration: none !important;
  }

  .sobre img {
    width: 250px;
  }

  .texto p {
    margin-right: 15%;
    font-size: 1.9rem;
  }

  .consultorio {
    padding: 5% 2%;
    width: 110% !important;
  }
  .contato2 {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    margin-left: 5% !important;
  }

  .consultorioTexto {
    padding: 1% 2%;
    width: 110%;
    padding-bottom: 4% !important;
  }

  .consultorio h6 {
    font-size: min(3.5vw, 18px);
  }
  .consultorio h2 {
    font-size: max(3.5vw, 21px);
  }
  .c2 img {
    width: 50%;
    margin-left: 10%;
    height: 20vh;
    object-fit: cover;
  }

  .c2 button {
    width: 50%;
    margin-left: 10%;
  }

  .bg-dark {
    padding: 2% 10%;
    border-radius: 20px;
    margin: 0;
    margin-right: 45% !important;
    font-size: 1.6rem;
  }
  .patientReview {
    margin-left: 12%;
    margin-right: 56% !important;
  }
  .pacienteP {
    font-size: 1.5rem;
  }

  .reviewBtn {
    display: none !important;
  }

  .galeria-parent img {
    width: min(40vw, 380px);
    height: 25rem;
  }
  .textInsp1 {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-left: 3%;
    width: 55vw;
  }

  .textInsp1 h2 {
    font-size: 2.5rem;
  }

  .textInsp1 p {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-top: 4%;
  }
  .footer {
    margin-top: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.3rem;
    text-align: center;
    background-color: #6b6150 !important;
  }
}


@media screen and (min-width: 200px) and (max-width: 710px) {

  .article{
    margin-bottom: 4%;
  }
 
  .articleText{
    z-index:1000 !important;
    height:80%;
    
    background-color: aliceblue;
    color:#434343;
    position:fixed;
    bottom:0% !important;
    top:33% !important;
  
    right:80% !important;
  padding:2.7rem;
  font-size: 1.4rem;
  
    left:50% !important;
    filter:saturate(100%) !important;
    
  }
  
  .articleText i{
    position: absolute;
    top:2%;
    right:2% !important;
    font-size: 3rem;
  }
  .imgArticle{
    margin-top: 5%;
    width: 38rem;
    height:23rem !important;
    object-fit: cover;
    filter: saturate(60%);
 
  }
  

  .contactBtn{
    display: block !important;
  }
  .navbar::before {
    background-color: white;
    content: "Menu";
    font-size: 1.7rem !important;
    font-family: var(--main-font);
    font-weight: 400;

    display: flex;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 55%;
    text-transform: uppercase;
  }
  header {
    height: 0vh !important;
    background-color: white;
    width: 100% !important;
    z-index: 100;
    margin-left: 0%;
  }

  .menu-mobile {
    display: block;
    z-index: 1000 !important;

    display: flex;
    flex-direction: row;

    top: 0;
    background-color: #333;
  }

  .perfil-mobile img {
    margin-top: 4%;
    width: 6rem !important;
    height: 6rem !important;
  }
  .perfil-mobile h3 {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    margin-top: 15%;
    font-size: 15px;
  }

  main {
    width: 100% !important;
    left: 0;
    padding-top: 0 !important;
    top: 5% !important;
    margin-left: 0;
  }

  .perfil-desktop {
    display: none;
    width: 100%;
  }

  .perfil {
    display: none;
    width: 100%;
  }

  .elementosHeader {
    display: none;
  }
  main {
    width: 100% !important;
    left: 0;
    top: 10%;
    margin-left: 0;
    padding-top: 13%;
  }

  main h1 {
    margin-top: 0 !important;
  }

  main p {
    font-family: var(--main-font);
    font-weight: 300;
  }

  .cards {
    visibility: hidden !important;
    height: 0 !important;
  }

  #sobre {
    margin-top: 1% !important;
  }

  .sobre {
    padding-top: 1% !important;
    display: flex;
    flex-direction: row;
  }

  #home {
    display: none;
    height: 0 !important;
    width: 0;
  }

  .imgSobre img {
    display: none;
    height: 0;
    width: 0;
  }
  .texto p {
    color: white;
    margin-right: 10%;
    margin-left: 5%;
    font-size: 1.7rem;
    line-height: 1.7;
  }

  .consultorio {
    padding: 5% 2%;
    width: 110% !important;
  }
  .contato2 {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    margin-left: 5% !important;
  }

  .consultorioTexto {
    padding: 1% 2%;
    width: 110%;
    padding-bottom: 4% !important;
  }

  .consultorio h6 {
    font-size: min(3.5vw, 18px);
  }
  .consultorio h2 {
    font-size: max(3.5vw, 21px);
  }
  .c1 p,
  .mapa {
    padding-top: 1%;
    font-size: min(1.5rem, 18px);
    padding-right: 15%;
    font-family: "Roboto", sans-serif;
  }

  .telefone {
    margin-top: 7%;
  }
  .images img {
    opacity: 0.7;
    width: 70vw;
    height: 30vh;
    object-fit: cover;
    transition: all 200ms ease-in;
  }

  .contatoButton a {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .contato h2 {
    padding-top: 9%;
  }

  .opiniao h2 {
    padding-top: 9%;
  }

  .grid-opiniao {
    margin-top: 2%;
    display: block;
    margin-left: 11%;
  }
  .galeria-parent h2 {
    padding-top: 9%;
  }
  .patientReview {
    display: none;
    width: 0;
    height: 0;
  }

  .insp1 {
    margin-left: 0%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
  }
  .insp2 {
    position: relative;
    z-index: 100;
    opacity: 1;
    margin-bottom: 11%;
    margin-top: 11%;
    padding-left: 5.5%;
  }
  .textInsp1 h2 {
    font-size: max(4vw, 22px);
  }

  .textInsp1 p {
    font-size: max(2vw, 18px);
    line-height: 1.5;
    margin-top: 4%;
  }
  .curve {
    display: block;
    position: absolute;
    top: -3%;
    right: 0;
    left: 0;
    bottom: -5%;
    opacity: 0.2;
    z-index: 1;
    height: minmax(380px, 100%, 35vh);
    width: 100%;
    background-color: var(--main-color);
  }

  .insp1 img {
    width: 90%;
    margin-bottom: 5%;
    height: 280px;
    object-fit: contain;
    text-align: center;
    margin-left: 5%;
  }
  .imgInsp2,
  .imgInsp3 {
    display: none;
  }
  .textInsp1 {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 90vw;
  }

  .bg-dark {
    padding: 2% 10%;
    border-radius: 20px;
    margin: 0;
    margin-right: 8% !important;
    font-size: 1.6rem;
  }

  .opiniao1,
  .opiniao2,
  .opiniao3 {
    padding-bottom: 6%;

    margin-right: 5%;
  }
  .pacienteP {
    display: none !important;
  }

  .galeria-parent img {
    margin-left: 0 !important;
    width: min(75%, 340px) !important;
    height: 22rem;
    margin-bottom: 2%;
    text-align: center;
  }

  .text h2 {
    margin-top: max(2vh, 27px) !important;
  }
  .contato h2,
  .opiniao h2,
  .text h2,
  .inspiracoesTitle,
  .galeria-parent h2 {
    margin-top: 5%;
    font-weight: 400;
    font-size: var(--main-font-size-h2);
    font-size: min(8.1vw, 32px);
  }
  .lineConsultorio {
    width: 24% !important;
  }

  .inspiracoesTitle {
    margin-top: 12%;
  }
  .contato h3,
  .opiniao h3,
  .text h3,
  .inspiracoesSub,
  .galeria-parent h3 {
    font-size: var(--main-font-size-h3);
    color: #777;
    font-weight: 100;
    font-size: min(5vw, 20px);
  }

  .text p,
  .contato p,
  .opiniao p,
  .galeria-parent p,
  .textInsp1 p {
    margin-top: 3%;
    font-size: 1.6rem;
  }

  .images {
    display: block;
    margin-left: 0 !important;
    text-align: center;
  }
  .reviewBtn {
    display: block;
  }
  .reviewBtn a {
    font-family: var(--main-font);
    font-weight: 200 !important;
    color: white;
    font-size: 1.4rem !important;
    text-transform: capitalize;
    text-decoration: none;
  }

  .reviewBtn {
    display: block;
    cursor: pointer;
    background-color: rgba(18, 16, 17, 0.486);
    border: 1px solid #bea370;
    height: 30px;
    width: 39%;
    margin: 0 auto;
    padding: 2px 4px;
    transition: all 0.1s ease-in;
  }

  .footer {
    margin-top: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: min(3.2vw, 13px);
    text-align: center;
    background-color: #6b6150 !important;
  }

  iframe {
    display: none;
  }

  .ctc5 {
    margin-left: 1% !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  header a {
    font-size: 2.1rem !important;
  }
  .agendar a {
    background-color: var(--main-color) !important;
    padding: 10px 11% !important;
    color: white !important;
    border-radius: 10px;

    transition: all 1s ease;
  }
  .agendar a {
    background-color: var(--main-color) !important;
    padding: 10px 1%;

    color: white !important;
    border-radius: 10px;
  }
}


@media  screen and (max-width: 600px){
  .articleText p, .articleText h2, .imgArticle{
    padding:1.3rem !important;
    width:80%;
  }
  .articleText{
    z-index:100;
    width:95vw !important; 
    height:90rem;
    background-color: aliceblue;
    color:#434343;
    position:fixed;
    bottom:0% !important;
    top:25% !important;
  padding:2rem;
  font-size: 3.9vw;
    right:0%;
    left:48% !important;
  
    filter:saturate(100%) !important;
    transform: translate(-50%, -25%);
  }
  .imgArticle{
    margin-top: 5%;
    width: 90vw;;
    height:15rem !important;
    object-fit: cover;
    filter: saturate(60%);
    border-radius: 2%;
  }
  
  .articleText i{
    position: absolute;
    top:4% !important;
    right:6% !important;
    font-size: 3rem;
  }
}


@media screen and (max-width:600px) {
  header{
    z-index:-1 !important;
  }
  .article{
    width:90vw;
    height:260px;
    background-color:aliceblue;
    color:#333;
   position: relative;
  }

  
  
  .filosofia{
    height:2.8rem !important;
  }
  
  .article h2{
    font-size: max(5vw,15px) !important;
    font-weight: 800;
    height:6rem;
    
    padding-top: 1.3rem;
    padding-bottom: 3% !important;
    padding-left:1.3rem;
    padding-right:1.3rem;
  }
  .article p{
    font-size: 1.2rem;
    font-weight: 500;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-bottom: 4.1rem;
  }
  
  .article input{
    position: absolute;
    bottom:2%;
    right:5%;
    width:12rem;
    background-color:#a18a60;
    color:white;
    padding: 1rem .6rem 1rem .6rem;
    border: none;
    margin-bottom: 3%;
    font-weight: 800;
  }

  .articleText{
    z-index:500 !important;
    width:90vw !important; 
    height:80rem;
    background-color: aliceblue;
    color:#434343;
    position:fixed;
    bottom:0% !important;
    top:6%;
  padding:2rem;
  font-size: max(3.9vw, 15px);
    right:0%;
    left:50% !important;
    filter:saturate(100%) !important;
    transform: translate(-50%, -25%);
  }

  .articleText p, .articleText h2, .imgArticle{
    width:92%;
  }

  .articleText i{
    position: absolute;
    top:1%;
    right:5%;
    font-size: 3rem;
  }
  
}

@media screen and (min-width:1200px) and (max-width:1600px){
  .article{
    margin-bottom: 4%;
  }

  .articleText{
    z-index:100;
    width:60rem !important; 
    height:60rem;
    background-color: aliceblue;
    color:#434343;
    position:fixed;
    bottom:30% !important;
    top:28%;
  padding:2rem;
  font-size: 1.4rem;
    right:0%;
    left:65% !important;
    filter:saturate(100%) !important;
    transform: translate(-50%, -25%);
  }
  

  .imgArticle{
    margin-top: 5%;
    width: 60rem;
    height:20rem !important;
    object-fit: cover;
    filter: saturate(60%);
    border-radius: 2%;
  }
}
  
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .article{
    margin-bottom: 4%;
  }

  .articleText{
    z-index:100;
    width:50rem !important; 
    height:60rem;
    background-color: aliceblue;
    color:#434343;
    position:fixed;
    bottom:30% !important;
    top:38%;
  padding:2rem;
  font-size: 1.4rem;
    right:0%;
    left:50% !important;
    filter:saturate(100%) !important;
    transform: translate(-50%, -25%);
  }
  

  .imgArticle{
    margin-top: 5%;
    width: 48rem;
    height:23rem !important;
    object-fit: cover;
    filter: saturate(60%);
    border-radius: 2%;
  }

  
}
