
.title{
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
    font-family: sans-serif;
}

.each{
    border-left: 3px solid #333c47;
    padding-left:1%;
}

.each:nth-of-type(2) {
    margin-top: 40px;
}

.text{
    font-size: 17.2px;
    list-style:circle;
}