.container{
    display: flex;
    flex-direction: row;
    gap:8%;
    justify-content: space-around;
    align-items: center;
    width:60%;
    height:150px;
    margin: 7% 25%;
    padding: 2%;
    background-color: rgba(180, 180, 180, 0.336);
}

.title{
    font-weight: 400;
    padding-bottom: 10%;
}

.hour{
    padding-top: 20%;
}