.image_container{
    display: grid;
grid-template-columns: repeat(2, 600px);
grid-template-rows: repeat(2, 400px);
}

@media screen and (max-width:1300px){
     .image_container{
        grid-template-columns: repeat(2, 41vw);
        grid-template-rows: repeat(2,355px);
    }
    .image{
        width: 39vw !important;
        height:340px !important;
    }
}
@media screen and (max-width:930px){
    .image_container{
        grid-template-columns: repeat(1, min(90vw, 400px));
        grid-template-rows: repeat(4,357px);
    }
    .image{
        width: 55vw !important;
        height:340px !important;
    }
}
@media screen and (max-width:630px){
    .image_container{
        margin-top: 12%;
        grid-template-columns: repeat(1, 90vw);
        grid-template-rows: repeat(4,320px);
    }
    .image{
        width: 90vw !important;
        height:300px !important;
    }
}