

.container{
    position: relative;
    width:18vw;
    padding-top: 0% !important;
    background-color: rgba(255, 255, 255, 0.322);
    height:42vh;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); 
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
}

.container:hover{
    opacity: .95;
}


.text_container{
    padding: 4%;
}

.title_container{
    font-weight: 600;
    font-size: 23px;
    padding-top: 2%;
    font-weight: 500;
    padding-bottom: 8%;
    color: #0f0f0f;
    cursor: pointer;
    line-height: 1.6;
    align-self: center;
    text-align: center;
    text-decoration: none !important;
}



.desc_container{
    font-size: 17px;
    letter-spacing: .01em;
    line-height: 1.4;
}

.subdesc{
    display: flex;
    flex-direction: row;
    gap:1%;

}

.subdesc_title{
    font-weight: 400;
    padding-top: 2%;
    font-size: 14px;
}

.link{
    text-decoration: none;
    box-shadow: 1px 1px 7px #ccc;
    padding-bottom: 6%;
    position: relative;
}

.img_btn{
    position: relative;
    
}
.btn_container{
    z-index: 10000;
    position: absolute;
    bottom:-7%;
    right:-3%;
    border-radius: 10px;
    width: 45px;
    height:45px;
    padding: 1%;
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 5%;
    background-color:  rgb(29, 52, 71);
    border: 2px solid rgb(255, 255, 255);
    text-shadow: 1rem #000;
    color:rgb(255, 254, 254);
    cursor: pointer;
}

.additional_info{
  text-align: center;
  text-decoration: none !important;
  position: absolute;
  padding-left:20%;
  bottom:4%;
}

.additional_title{
    font-family: sans-serif;
  
    color:rgba(0, 0, 0, 0.705);
    font-weight: 400;
    font-size: 16px;
}

@media screen and (max-width:1300px){
    .container{
        position: relative;
        width:28vw;
        padding-top: 0% !important;
        background-color: rgba(255, 255, 255, 0.322);
        height:42vh;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); 
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: all .3s ease-in-out;
    }
    

}

@media screen and (max-width:930px){
    .container{
        position: relative;
        padding-top: 0% !important;
        background-color: rgba(255, 255, 255, 0.322);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); 
        text-align: start !important;
        display: flex;
        flex-direction: column;
        transition: all .3s ease-in-out;
    }
    
}


@media screen and (min-width:1300px) and (max-width:1550px) {
    .title_container{
        font-size: 19px;
    }

    .additional_info{
        padding-left: 15%;
    }
}