.container{
    background-color: #ffffff;
    position: fixed;
    height:240px;
    width:100%;
    padding:4% 5%;
    text-align: start;
    top:90px;
    left:0%;
    display: block;
    right:0;
    cursor: pointer !important;
    padding-top: 9%;
}

.item{
    margin-bottom: 5%;
}

.item_link{
    text-decoration: none;
    padding-bottom: 5%;
    color:black;
    font-size: 18px;
    letter-spacing: -.05em;
    text-transform: uppercase;
    font-weight: 400;
}