

.container_display{
    background-color: transparent;
    font-weight: 600;
    font-size: 19px;
    text-transform: uppercase;
    color:#f3f3f3 !important;
    border: transparent !important;
    padding-left: 8%;
    padding-top: 5px;
    cursor: pointer;
   vertical-align: center;
   z-index: 100000;
}

.container{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:158px;
    background-color: #423a4def;
    padding:.8%;
    margin-top: 5%;
    transition: all .3s ease-in-out;
    position:fixed;
    bottom:5%;
    right:10%;
    z-index:10000 !important;
    vertical-align: center;
}




@media screen and (max-width:1090px) {
    

    .container_hidden{
        width:70px !important;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #2f3740;
        padding:3.1%;
        margin-top: 5%;
        transition: all .3s ease-in-out;
        position:fixed;
        bottom:5%;
        z-index:10000 !important;
    
        right:10%;
    }
    
}

@media screen and (max-width:900px){
    
.container_display{
   position: absolute;
   right:10%;
   top:22.5%;
   font-size: 15px;
}
.icon{
    position: absolute;
    top:20%;
    left:8%;
    
}
.container{
    padding: 0 !important;
    height:50px;
    width:140px;
    position:fixed;
    bottom:5%;
    right:5%;
}


}

@media screen and (min-width:1300px) and (max-width:1550px) {
    .container{
        bottom:3%;
        right:4%;
    }

}