

.container_display{
    background-color: transparent;
    font-weight: 600;
    font-size: 1.1rem;
    padding: .5% .4%;
    text-transform: uppercase;
    color:#f3f3f3;
    border: transparent !important;
    padding-left: 8%;
    padding-top: 5px;
    cursor: pointer;
   vertical-align: center;
   z-index: 100000;
}

.container{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:260px;
    background-color: #2f3740;
    padding:1.1%;
    margin-top: 5%;
    transition: all .3s ease-in-out;
    position:fixed;
    bottom:5%;
    right:10%;
    z-index:10000 !important;
    vertical-align: center;
}

.container_hidden{
    width:90px !important;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:190px;
    background-color: #2f3740;
    padding:1.1%;
    margin-top: 5%;
    transition: all .3s ease-in-out;
    position:fixed;
    bottom:5%;
    z-index:10000 !important;

    right:10%;
}

.container_agende:hover{
    background-color: #2f3740f3;
}

@media screen and (max-width:1090px) {
    

    .container_hidden{
        width:70px !important;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #2f3740;
        padding:3.1%;
        margin-top: 5%;
        transition: all .3s ease-in-out;
        position:fixed;
        bottom:5%;
        z-index:10000 !important;
    
        right:10%;
    }
    
}