.container {
    box-sizing: border-box;
    padding: 0;
    text-align: end;
  }

.container_click{
    background-color: red !important;
    height:500px;
    width:700px;
    position: absolute;
    top:10%;
    left:0%;
    right:0%;

}

.btn{
    background-color: #423a4dc2;
    border:none;
    color:aliceblue;
    padding: 6% 7%;
    font-size: 1.3rem;
    border-radius: 10px;
    font-weight: 500;
}
.container{
    background-color: #ffffff69;
    width:22%;
    position: fixed;
    padding:4%;
    top:0;
    bottom:0;
    padding-top: 3%;

    color: #232424;
}

.logo{
    width:150px;
    height:140px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 6%;
    filter: grayscale(20%);
}

.logo_h2{
    font-size: 20px !important;
    font-weight: 500 !important;
    width: 100% !important;
    text-align: end !important;
}

.logo_p{
    font-size: 20px;
    padding-top: 2%;
    font-weight: 500;
}
.container_list{
    list-style: none;
}

.text_link{
    text-decoration: none;
    color:#000000;
    font-weight: 300;

}

.text_li{
    font-size: 28px;
    padding-bottom: 11%;
    font-family: "Monteserrat";
    font-weight: 200;
   
}

.line{
    background-color: #0c0c0c;
    height:2px;
    width:270px;
    margin: 15% 0;
}

.logo_crm{
    font-weight: 400;
    font-size: 1.15rem;
    padding-top: 6%;
}

.text_link{
    scroll-behavior: smooth;
}

.display{
    width:100%;
}


@media screen and (min-width:1300px){
    .isBurger{
        display: none;
        opacity: 0;
    }
}
@media screen and (max-width:1300px){
    .container{
        width:100%;
        height:90px;
        z-index: 100000;
        position: fixed !important;
        padding:2% 1% 2% 4%;
        top:0;
        left:0;
        right:0;
        z-index: 10000 !important;
        background-color: #fff;
    }

    .menu_burger{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2% 1% 2% 4% ;
        z-index:10000;
    }
    .burger{
        display: block;
        font-size:20px;
        position: fixed;
        top:2%;
        right:7%;
        margin-top: 10px;
        background-color: transparent;
        border: none;
        z-index:100000;
    }

   
    .line{
        display: none;
    }
  
    .container_text{
        margin-top: 26px;
        height:100px;
        position: fixed !important;
        top:.4%;
        left:120px;
    }
    .logo_container{    
       height:100px;
       position:relative; 
       display: flex;
       flex-direction: row;
       position: relative;   
    }

   
    .logo{
        width:65px;
        height:60px;
        object-fit: cover;
        border-radius: 50%;
        filter:saturate(100%);
        margin-top: 10px;
        position: fixed;
        top: 1%;
        left:5%;
    }

    .logo_h2{
        font-size: 16px;
        font-weight: 300 !important;
        width:70% !important;
        text-align: start !important;
        margin-left: -20px !important;
        letter-spacing: -.02em;
    }
    
    .logo_p{
        display: none;
    }

    .logo_crm{
        display: none;
    }
    
    .container_list{
        display: none;
    }

    .isBurger{
        font-weight: 400;
        padding-top: 9px;
        padding-right: 5% !important;
        z-index:1000;
        letter-spacing: -.05em;
        font-size: 17.5px;
    }
  }

  @media screen and (min-width:1300px) and (max-width:1500px) {
    .container{
        width:25%;
    }
  }

  @media screen and (min-width:1000px) and (max-width:1300px) {
    .logo_h2{
        font-size: 16px !important;
        margin-left: 20px !important;
        margin-top: 2px;
    }
    
  }

  @media screen and (min-width:790px) {
    .logo_h2{
        font-size: 17px;
        font-weight: 300;
        width:70%;
        text-align: start;
        margin-left: 0px;
    }
    
  }

  @media screen and (max-width:900px) {
    .logo_h2{
        font-size: 15px !important;
    }
  }

  @media screen and (min-width:1300px) and (max-width:1550px) {
    .logo_h2{
        font-size: 19px !important;
    }

    .logo_p{
        font-size: 16px;
    }

    .logo_crm{
       font-size: 15px;
    }
    
    .btn{
        background-color: #423a4dc2;
        border:none;
        color:aliceblue;
        padding: 6% 7%;
        font-size: 17px;
        border-radius: 10px;
        font-weight: 500;
    }

    .line{
        width:230px;
    }

    .text_li{
        font-size: 22px;
    }
  }