.container{
    display: flex;
   padding-top: 10%;
    margin-bottom: 4%;
    flex-direction: column;
}



.title_container{
    font-weight: 500;
    font-size:min(48px,9vw);
    color:#2f3740f3;
}

.line_container{
    width: 70px;
    height:7px;
    margin-top: 1%;
    background-color:  #423a4dc2;
}


@media screen and (max-width:650px){
    .container{
        margin-top: 29% !important;
    }

    .title_container{
        font-weight: 500;
        font-size:30px;
    }
}
@media screen and (max-width:930px){
    .container{
        margin-top:105px !important;
    }
}
