.container{
    display: flex;
   padding-top: 10%;
    margin-bottom: 4%;
    flex-direction: column;
}



.title_container{
    font-weight: 500;
    font-size:min(48px,9vw);
}

.line_container{
    width: 70px;
    height:10px;
    margin-top: 2%;
    background-color:  #423a4dc2;
}

.desc_container{
    padding: .6% 0%;
    font-weight: 500;
    font-size: 32px;
    color:  rgba(29, 52, 71, 0.788);

}

@media screen and (max-width:650px){
    .container{
        margin-top: 29% !important;
    }
}
@media screen and (max-width:930px){
    .container{
        margin-top:105px !important;
    }
}
