.container{
    margin: 4% 0% 150px 30%;
  }
  
  .back_btn{
    width:120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:9%;
    background-color: #2f3740;
    color: rgb(244, 244, 245);
    font-size: 18px;
    font-weight: 500;
    padding: .6%;
    cursor: pointer;

}

.container_image{
    position: relative;
}
.imagem{
    margin-top: 5%;
    object-fit: cover;
    filter: saturate(70%);
    width: 38vw;
    height:28vh;
    border-radius: 5px;
}

.perfil_renata{
    position: absolute;
    bottom:-10%;
    left:10%;
    width:120px;
    border-radius: 50%;
    height:120px;
}

.container_text{
    margin-top: 3%;
    width:70%;
    font-size: 21px;
    line-height: 1.6;
    letter-spacing: .002em;
    position: relative;
}

.text_title{
    margin-top: 9%;
    width:70%;
    font-size: 36px !important;
    font-weight: 600;
    font-size: 30px;
}



.data{
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    padding:.5%;
    width:11%;
    color:aliceblue;
    background-color: #2f3740f3;
    margin-top: 5%;
  
    position: absolute;
    right:22.3%;
   

}

@media screen and (max-width:930px){
    .container{
        margin: 30% 0% 110px 7%;
      }
    .imagem{
        margin-top: 5%;
        width: 88vw;
        height:33vh;
    }
    
    .back_btn{
        border:none;
        padding: 2%;
        font-size: 1.2rem;
        font-weight: 600;
        
    }

    .text_title{
        margin-top: 15%;
        width:97%;
        font-size: min(7.8vw, 34px) !important;
    }
    
    .container_text{
        margin-top: 3%;
        width:99%;
        font-size: 22.5px;
    }

    .data{
        text-align: center;
        padding:1.5%;
        width:150px;
        right:10.3%;
    }
    
}

@media screen and (max-width:1300px){
    .container{
        margin: 125px 0% 150px 2.5%;
        padding: 2%;
    }

    .imagem{
        margin-top: 5%;
        width: 93vw;
        height:33vh;
    }

    .text_title{
        margin-top: 10%;
        width:98%;
        font-size: min(7.8vw, 34px) !important;
    }
    
    .container_text{
        margin-top: 3%;
        width:99%;
        font-size: 22.5px;
    }

    .data{
        text-align: center;
        padding:1.5%;
        width:150px;
        right:1.5% !important;
    }
}