

.container{
  display: flex;
  flex-direction: column ;
}

.about{
  margin-top: -54px !important;
}
.main{
  background-color: #ada5ab1e;
  padding-left: 30%;
  min-height: 100vh;
  scroll-behavior: smooth;

}

.body{
  height: 100vh;
  background-color: #e2e2e2;
}

.container_wave{
  position: relative;
  background-image: url("/wave.svg");
  background-repeat: repeat;
  background-size: cover;
  height:350px;
}

.insp_img{
  position: absolute;
  top:5%;
}

.card{
  position: absolute;
  top:5%;
  z-index:-10;
}

.insp_container{
  background-color: #EDEDED;
  height:600px;
  text-align: center;
}


.toDisplay{
  display: none;
}

.displayHidden{
  display: none;
}

.display{
  display: block;
  display: grid;
  grid-template-columns: repeat(3, 17vw);
  grid-template-rows: repeat(2, 1fr);
  gap:4%;
}

.card_btn_container{
  margin-right:18%;
  text-align: center;
}

.all_cards{
  position: relative;
  padding-bottom: 0;
}

.footer{
  padding-left:300px !important ;
  padding: 2%;
  font-size: 18px;
  color:rgb(21, 22, 22);
}
.card_btn{
  cursor: pointer;
  border-radius: 2px;
  font-size: 18px;
  border: none;
  margin-right:-1 .5%;
  padding: 1% 1.5% 3.5% 1.5%;
  height:2px;
  margin-bottom: 2%;
  background-color: transparent;

}

@media screen and (max-width:1300px){
  .container{
    display: flex;
    flex-direction: row !important;
  }

  .main{
    margin-left: 0%;
    padding-left: 5%;
    padding-top: 15vh;
    height:auto;
    position: absolute;
    left: 0;
    right:0;
  }
  .display{
    grid-template-columns: repeat(3, 27vw);
  }
  .card_btn_container{
    margin-right:9%;
    text-align: center;
  }

  
.about{
  margin-top: -164px !important;
}

.all_cards{
  padding-left: 2%;
}
  
}
@media screen and (max-width:1090px){
 
  .display{
    grid-template-columns: repeat(3, 29vw);
    padding-left: 0%;
   
  }
  .card_btn_container{
    margin-right:0%;
    text-align: center;
  }

  .main{
    padding-top: 150px;
  }
  
  
}
@media screen and (max-width:930px){
 
  .display{
    margin-top: 12%;
    grid-template-columns: repeat(1, min(90vw, 420px));
    grid-template-rows: repeat(2, 400px);
    padding-left: 0px;
  }
  .card_btn_container{
    margin-right:9%;
    text-align: center;
  }

  .card_btn_container{
    display: none;
  }
  
  .footer{
    padding-top: 55%;
  }
}

@media screen and (min-width:1300px) and (max-width:1500px) {
  .main{
    padding-top: 50px;
  }
}

@media screen and (min-width:1300px) and (max-width:1550px) {
  .display{
    display: block;
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(1, 1fr);
    gap:4%;
  }
  .card_btn{
    padding-left: 10% !important;
    cursor: pointer;
    border-radius: 2px;
    font-size: 18px;
    border: none;
    margin-right:-1 .5%;
    padding: 1% 0% 3.5% 0%;
    height:2px;
    margin-bottom: 2%;
    background-color: transparent;
  
  }

  .footer{
    padding-top: 180px;
  }
}