.container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position: relative;
    margin-bottom: 20%;
}

.container_img{
    position: absolute;
    left:18%;
    width:150px;
    height:150px;
}

.container_title{
    position:absolute;
    left:22%;
    font-weight: 100 !important;
    font-size: 2.62rem;
}